body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7ebf0;
}

* {
  font-family: 'Domine', serif;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}